*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav{
    height: 30%;
    width: 100%;
    background-color: #3742fa;
    display: flex;
    justify-content: space-evenly;
}

#nav > article{
    height: 60px;
    width: 90%;
    display: flex;
    float: inline-start;
    /* margin: 25px; */

}

#nav > article >.Logo{
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 40px;    
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}
#main{
    height: 550px;
    width: 100%;
    /* background-color: blue; */
    /* align-self: center; */
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    /* text-align: center; */
    
}
#main>article{
    height: 100%;
    width: 70%;
    /* background-color: rgb(241, 234, 234); */
    display: flex;
    justify-content: center;


}

#main > article >.Menu{

    height: 550px;
    width: 70%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-top: 35px;
    
  
} 
#main>article>.Menu>div{
    /* border: 2px solid lightgray; */
    border: 2px solid lightgray;
    margin-block: 15px;
    margin-left: 15px;
    
}
#main>article>.Menu>div>h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    font-weight: 600;


}
#main>article>.Menu>div>h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    font-weight: lighter;

}
#main>article>.Menu>div>.add{
    height: 30px;
    width: 60px;
    margin-right: 5px;
    color: lightgrey;
    background-color: blue;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
}
#main>article>.Menu>div>.sub{
    height: 30px;
    width: 60px;
    color: black;
    background-color: lightgrey;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
}
